.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    margin: 0 auto;
  }
  
  .block-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 10px 10px 10px 0px;
    text-align: start;
    width: 15%;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }

  @media (200px <= width <= 900px){
    .tabs {
        width: 50%;
    }
  }
  .tabs::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100%);
    height: 3px;
    background: rgba(255, 255, 255, 0.178);
  }
  
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    /* background: rgb(46, 163, 157); */
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100%);
    height: 3px;
    background: rgb(255, 255, 255);
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {

    padding: 20px 20px 20px 0px;
    width: 100%;
    height: 100%;
    display: none;
  }

  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }